.datatable-country{
    margin-top: 8em;
}

.latest-info-cards > div .card{
  max-width: 10rem;
  min-width: 8rem;
}



/* HEADER IMPORTANT */
.navbar-light {
  background-color: black;
}

  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 84, 84);
    border: none;
    border-radius: 2vh;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    background-color: black;
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2vh;
  }

  @media (min-width: 1200px) {
  }
  
  /* Tablets an medium desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  /* Tablets portrait and small desktops*/
  @media (min-width: 768px) and (max-width: 991px) {
    .collapse {
      background-color: rgba(77, 75, 75, 0.602);
      border-radius: 2vh;
    }    

    .navbar-light .navbar-nav .nav-link:hover {
      background-color: rgb(130, 23, 230);
      color: white;
      border: none;
      border-radius: 2vh;
    }
  }
  /* landscape phones and portrait tablets */
  @media (max-width: 767px) {
    .collapse {
      background-color: rgba(77, 75, 75, 0.602);
      border-radius: 2vh;
    }    

    .navbar-light .navbar-nav .nav-link:hover {
      background-color: rgb(130, 23, 230);
      color: white;
      border: none;
      border-radius: 2vh;
    }
  }
  /* landscape phones and small devices */
  @media (max-width: 480px) {
    .collapse {
      background-color:  rgba(77, 75, 75, 0.602);
      border-radius: 2vh;
    }    

    .navbar-light .navbar-nav .nav-link:hover {
      background-color: rgb(130, 23, 230);
      color: white;
      border: none;
      border-radius: 2vh;
    }
  }

